
/* Custom  */

:root {


    /* === Cover / Landing area === */
    --cover-text-color: #6c4c34;
    /* Used for Landing screen menu buttons, but potentially usable for highlighting other things */
    --highlight: #FFC000;
    --highlight-contrast: var(--cover-text-color);
    /*inverse colors used for :hover */
    --highlight-inverse: var(--cover-text-color);
    --highlight-inverse-contrast: white;

    /* visual guard around title and description, when the feature is enabled */
    --cover-title-and-description-guard-bg-color: none;
    --cover-title-text-shadow: none;

    /* === sticky top/left navigation menus === */
    --sticky-menu-text-color: #FFC000;

    /* === Alternating content (post) sections  === */
    /* Light section - text color */
    --section-light-text-color: #6c4c34;
    /* Light section - background color */
    --section-light-bg-color: #F7EFE1;

    /* Dark section - text color */
    --section-dark-text-color: var(--section-light-bg-color);
    /* Dark section - background color */
    --section-dark-bg-color: #6c4c34;

    /* Light&Dark section >quote. Suppressive color, compared to 'Light section - text color'*/
    --section-uni-quote: #6c4c34;
    /* Light&Dark section `code` a bit darker than 'Light section - background color' */
    --section-uni-code-bg-color: #e0ded7;

    /* === Single pages=== */
    --single-page-text-color: var(--section-light-text-color);
    --single-page-bg-color: var(--section-light-bg-color);

    /* === Footer === */
    --footer-color-background: #FFC000;
    --footer-color: #bbc7cc;

    /* === Lists === */
    /* define list element for unnumbered lists, leave empty for default list element */
    --ul-li-icon: fa-asterisk;

}

@font-face {font-family: 'Arizonia';src: url('/fonts/arizonia/subset-Arizonia-Regular.woff2') format('woff2');font-weight: normal;font-style: normal;font-display: swap;}
@font-face {font-family: 'Ubuntu';src: url('/fonts/ubuntu/subset-Ubuntu.woff2') format('woff2');font-weight: normal;font-style: normal;font-display: swap;}
@font-face {font-family: 'Ubuntu';src: url('/fonts/ubuntu/subset-Ubuntu-Light.woff2') format('woff2');font-weight: 300;font-style: normal;font-display: swap;}
@font-face {font-family: 'Ubuntu';src: url('/fonts/ubuntu/subset-Ubuntu-Bold.woff2') format('woff2');font-weight: bold;font-style: normal;font-display: swap;}
@font-face {font-family: 'Ubuntu';src: url('/fonts/ubuntu/subset-Ubuntu-LightItalic.woff2') format('woff2');font-weight: 300;font-style: italic;font-display: swap;}
@font-face {font-family: 'Ubuntu';src: url('/fonts/ubuntu/subset-Ubuntu-Medium.woff2') format('woff2');font-weight: 500;font-style: normal;font-display: swap;}
@font-face {font-family: 'Ubuntu';src: url('/fonts/ubuntu/subset-Ubuntu-Italic.woff2') format('woff2');font-weight: normal;font-style: italic;font-display: swap;}
@font-face {font-family: 'Ubuntu';src: url('/fonts/ubuntu/subset-Ubuntu-BoldItalic.woff2') format('woff2');font-weight: bold;font-style: italic;font-display: swap;}
@font-face {font-family: 'Ubuntu';src: url('/fonts/ubuntu/subset-Ubuntu-MediumItalic.woff2') format('woff2');font-weight: 500;font-style: italic;font-display: swap;}

html {
    font-family: "Ubuntu", sans-serif;
}
body {
    font-family: "Ubuntu", sans-serif;
}
h1.blog-title{
    color: #6c4c34;
    font-family: 'Arizonia';
}
h1.post-title{
    font-family: 'Ubuntu';font-weight: 300;color: var(--cover-text-color);
}
h2.blog-description, h2.post-title{
    font-family: 'Ubuntu';font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu';font-weight: 300;
}
#site-head .blog-title, #site-head.withCenteredImage .blog-title {
margin: 10px 0;
font-size: 6.6rem;
letter-spacing: -1px;
font-weight: 300;
text-shadow: var(--cover-title-text-shadow);
}
#site-head .blog-description, #site-head.withCenteredImage .blog-description {
    font-family: 'Ubuntu';font-style:italic;font-weight: 300;
}
#site-head a.btn, #site-head.withCenteredImage a.btn {
    font-family: "Ubuntu", sans-serif;
}
.fa-asterisk{
    display:none;
}
ul.fa-li{
    list-style-type:none;
}
.fa-li {
    list-style-type:none;
}
#site-head, #site-head.withCenteredImage {
position: relative;
display: table;
width: 100%;
height: 100%;
margin-bottom: 0;
text-align: center;
color: var(--cover-text-color);
background-size: cover;
}
#site-head a.btn, #site-head.withCenteredImage a.btn{
    padding: 4px 6px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}
#header-arrow {

margin: 10px auto;
text-align: center;
display: inline-block;
width: 100%;
left: 0;
bottom: 120px;
cursor: pointer;
opacity: .6;
transition: all ease .3s;
-webkit-transition: all ease .3s;
-moz-transition: all ease .3s;
}

#site-head #header-arrow, #site-head.withCenteredImage #header-arrow{
    font-size: 96px;
    margin-top: 12px;
    opacity: .6;
}
.post-holder .post-after {
    position: absolute;
    bottom: -24px;
    z-index: 1;
    left: 6%;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: none;
    border-top: 50px solid var(--color-background);
    border-radius: 24px;
}
